body {
    background-color: #191627;
    background-image: url("./media/background-laptop.png");
    background-repeat: no-repeat;
    background-size: auto;
    width: 100%;
    height: 100%;
    color: #e5c25e;
}

h1 {
    color: #e5c25e;
    text-align: center;
}

#fileContent {
    /* background-color : white; */
    border: solid 1px #9c89f0;
}

@media (max-width: 640px) {

body {
    background-image: url("./media/background-mobile.png");
    background-size: auto; 
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;

}

 span{
    color: #e5c25e;
}

.precedent{
    display:block;
    font-size: 0px;
    background-image:url("precedent.png");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
}
.dossier{  
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size:20px;
    text-decoration: none;


}
.image{
    display: block;
    background-image:url("dossier.png");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;  
    margin-top: 30px;  


}
}
